@model Eventura.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Iniciar sesión";
}
<h1>Iniciar sesión</h1>
<form method="post">
    @Html.AntiForgeryToken()
    <label asp-for="UserNameOrEmail"></label>
    <input asp-for="UserNameOrEmail" />
    <span asp-validation-for="UserNameOrEmail"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>

    <label>
        <input asp-for="RememberMe" /> Recuérdame
    </label>

    <button type="submit">Entrar</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
